
input[type=text] {
    width: 60%;
    margin: 0 auto;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-size: 25px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
}

#results {
    top: 150px;
    width: 60%;
    margin: 0 auto;
    position: relative;
}